.profile-picture {
    border: 2px solid grey;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
}

.account-details-box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    background-color: rgba(197, 213, 197, 0.6);
}

.account-details-box p {
    font-weight: bolder;
    font-size: larger;
    padding: 18px;
}

.details-table {
    width: 100%;

}

.details-table td {
    text-align: left;
    padding: 8px;
    font-weight: bold;

}

.details-table td.right {
    text-align: left;
    font-weight: lighter;

}

.reviews-box p {
    font-weight: bolder;
    font-size: large;
}

.reviews-table th, .reviews-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.reviews-table th {
    background-color: #f2f2f2;
}

.reviews-table td {
    text-align: left;
}

.styled-link{
    width: 20%; display: inline-block; margin-bottom: 2%; margin-top: 1%
}