form {
    border: 1px solid #ddd;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}